process {
    publishDir = {"./results_bundle/$sid"}
    scratch = true
    stageInMode = 'copy'
    stageOutMode = 'rsync'
    tag = { "$sid" }
    afterScript = 'sleep 1'
}

params {
    help=false
    root=false

    // **Decompose options**//
        no_pruning=false
        no_remove_loops=false
        no_remove_outliers=false
        min_length=20
        max_length=200
        loop_max_angle=330
        outlier_threshold=0.5

    // **COMMIT options**//
        b_thr=50
        nbr_dir=500
        para_diff="1.7E-3"
        perp_diff="0.51E-3"
        iso_diff="2.0E-3"

    //**Process control**//
        processes = false

    //**Output directory**//
        output_dir=false
}

if(params.output_dir) {
    process.publishDir = {"$params.output_dir/$sid/$task.process"}
}

if(params.processes) {
    if(params.processes > Runtime.runtime.availableProcessors()) {
        throw new RuntimeException("Number of processes higher than available CPUs.")
    }
    else if(params.processes < 1) {
        throw new RuntimeException("When set, number of processes must be >= 1 " +
                                   "and smaller or equal to the number of CPUs.")
    }
    else {
        executor.$local.cpus = params.processes
    }
}

singularity.autoMounts = true
